<p id="notice"><%= notice %></p>

<h1>Project Projectors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_projectors.each do |project_projector| %>
      <tr>
        <td><%= link_to 'Show', project_projector %></td>
        <td><%= link_to 'Edit', edit_project_projector_path(project_projector) %></td>
        <td><%= link_to 'Destroy', project_projector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Projector', new_project_projector_path %>
