<%= form_with(model: accesslevel, local: true) do |form| %>
  <% if accesslevel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accesslevel.errors.count, "error") %> prohibited this accesslevel from being saved:</h2>

      <ul>
      <% accesslevel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accesslevelid %>
    <%= form.text_field :accesslevelid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
