<p id="notice"><%= notice %></p>

<h1>Accesslevels</h1>

<table>
  <thead>
    <tr>
      <th>Accesslevelid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesslevels.each do |accesslevel| %>
      <tr>
        <td><%= accesslevel.accesslevelid %></td>
        <td><%= link_to 'Show', accesslevel %></td>
        <td><%= link_to 'Edit', edit_accesslevel_path(accesslevel) %></td>
        <td><%= link_to 'Destroy', accesslevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accesslevel', new_accesslevel_path %>
