<%= form_for([@project, @project.comments.build]) do |form| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <p>Name:
    <%= form.text_field :name %>
    Comment:
    <%= form.text_field :comment %>
    </p>
    <%= form.submit :submit%>
  <% end %>