<%= form_for([@project, @project.comments.build]) do |form| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="form-floating mb-3">
            <%= form.text_field :name, class: "form-control", id: "floatingInput", placeholder: "Name" %>
            <label for="floatingInput">Name</label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-floating mb-3">
            <%= form.text_field :comment, class: "form-control", id: "floatingInput", placeholder: "Comment" %>
            <label for="floatingInput">Comment</label>
          </div>
        </div>
        <div class="col-1">
          <%= form.submit :submit, :class => "btn btn-primary btn-sm", :type => "submit" %>
        </div>
      </div>
    </div>
<% end %>