<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="1" scope="col"></th>
      <th colspan="1" scope="col">Project Name</th>
      <th colspan="1" scope="col">User</th>
      <th colspan="1" scope="col"></th>
      <% if project_user_signed_in? %>
        <th colspan="2" scope="col"></th>
      <% end %>
      <th colspan="1" scope="col">Comments</th>
      <th colspan="1" scope="col">Project Link</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
      <th scope="row"></th>
        <td scope="row"><%= project.name %></td>
        <td><%= remove_at(project.try(:user)) %>
        <td><%= link_to 'Show', project %></td>
        <% if allow_project_modify?(project) %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= project.comments.count %> comments</td>
        <td><%= link_to project.uri[0...20], project.uri, class: "btn btn-link" %>></a></td>
      </tr>
    <% end %>
  </tbody>
</table>