<nav class="navbar navbar-inverse">
  <div class="container-fluid header">
    <div class="navbar-header">
      <%= link_to 'CS300 Project Projector', '/', :class => 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right important">
      <% if project_user_signed_in? %>
        <li>Logged in as <strong><%= current_project_user.email %></strong>.</li>
        <li><%= link_to 'Edit profile', edit_project_user_registration_path, :class => 'glyphicon glyphicon-user' %></li>
        <li><%= link_to "Sign Out", destroy_project_user_session_path, :method => :delete, :class => 'glyphicon glyphicon-log-out'  %></li>
      <% else %>
        <li><%= link_to " Sign up", new_project_user_registration_path, :class => 'glyphicon glyphicon-user'  %></li>
        <li><%= link_to " Login", new_project_user_session_path, :class => 'glyphicon glyphicon-log-in'  %></li>
      <% end %>
    </ul>
  </div>
</nav> 