<!DOCTYPE html>
<html>
  <head>
    <title>CS300</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="navbar-text float-right">
      <% if project_user_signed_in? %>
        Logged in as <strong><%= current_project_user.email %></strong>.
        <%= link_to 'Edit profile', project_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sign Out", destroy_project_user_session_path, :method => :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_project_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_project_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
