<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render '/layouts/general' %>
  </head>

<%= render '/layouts/header' %>

<div id="wrap">
  <div id="main" class="container clear-top body">  
    <body>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </body>
  </div>
</div>

<%= render '/layouts/footer' %>

</html>
